{{include './shared/header'}}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-title">
        <div class="container">
            <div class="row">
                <span id="goBack" class="glyphicon glyphicon-chevron-left pull-left"></span> 个人资料
                <span id="register" class="glyphicon glyphicon-user pull-right invisible"></span>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <form action="/user/photo" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="photo" required accept=".jpg,.png">
        </div>
        <input type="submit" class="btn btn-success form-control" value="上传头像"></input>
    </form>
</div>
{{include './shared/modal'}}
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/scripts/user.js"></script> 
{{include './shared/header'}}